@charset 'utf-8';

@font-face {
  font-family: 'D2Coding';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('d2coding-bold-subset.woff2') format('woff2'),
       url('d2coding-bold-subset.woff') format('woff');
}

@font-face {
  font-family: 'D2Coding';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('d2coding-subset.woff2') format('woff2'), 
       url('d2coding-subset.woff') format('woff');
}